<div class="page-wrapper">

    
    <div class="space"></div>
    
    <div class="day-wrapper">
        <div class="wrap"> 
            <div class="day"> <p>{{dag}}</p>
            </div>
            <div class="date"> <p>{{dato}}</p>
            </div>
        </div>
        <div class="wrap"> 
            <div class="day"> <p>{{dag}}</p>
            </div>
            <div class="date"> <p>{{dato}}</p>
            </div>
        </div>
        <div class="wrap"> 
            <div class="day"> <p>{{dag}}</p>
            </div>
            <div class="date"> <p>{{dato}}</p>
            </div>
        </div>
        <div class="wrap"> 
            <div class="day"> <p>{{dag}}</p>
            </div>
            <div class="date"> <p>{{dato}}</p>
            </div>
        </div>
        <div class="wrap"> 
            <div class="day"> <p>{{dag}}</p>
            </div>
            <div class="date"> <p>{{dato}}</p>
            </div>
        </div>
        <div class="wrap"> 
            <div class="day"> <p>{{dag}}</p>
            </div>
            <div class="date"> <p>{{dato}}</p>
            </div>
        </div>
        <div class="wrap"> 
            <div class="day"> <p>{{dag}}</p>
            </div>
            <div class="date"> <p>{{dato}}</p>
            </div>
        </div>
        <div class="wrap"> 
            <div class="day"> <p>{{dag}}</p>
            </div>
            <div class="date"> <p>{{dato}}</p>
            </div>
        </div>
        <div class="wrap"> 
            <div class="day"> <p>{{dag}}</p>
            </div>
            <div class="date"> <p>{{dato}}</p>
            </div>
        </div>
        <div class="wrap"> 
            <div class="day"> <p>{{dag}}</p>
            </div>
            <div class="date"> <p>{{dato}}</p>
            </div>
        </div>
        
        
    </div>
    
    <button>Later days...</button>
    <button  routerLink="/choose-time">se tid side (dev)</button>
    
    <div class="space"></div>
    
</div>