<div id="container">
        <form id="Left">
            <h2>Kontakt os ved at udfylde nedenstående:</h2>
            <label for="Fnavn">Fornavn</label>
            <input type="input" id="fnavn" name="Fnavn" placeholder="fornavn">
            <label for="Enavn">Efternavn</label>
            <input type="input" id="enavn" name="Enavn" placeholder="efternavn">
            <label for="Mail">Email</label>
            <input type="input" id="mail" name="Mail" placeholder="mail">
            <label for="msg">Besked</label>
            <textarea name="Msg" id="msg" cols="30" rows="10" placeholder="Skriv besked her" ></textarea>
            <button type="submit" form="form">Send</button>
        </form>
    <div id="Right">
        <img src="assets/Image/tak.jpg" alt="Tak for at kontakte os!">
       
    </div>


</div>
