<div id="container">
        <form id="Left">
            <h2>Kontakt os ved at udfylde nedenstående:</h2>
            <label for="Fname">Fornavn</label>
            <input type="text" id="Fname" placeholder="fornavn...">
            <label for="Ename">Efternavn</label>
            <input type="text" id="Ename" placeholder="efternavn...">
            <label for="Mail">Email</label>
            <input type="text" id="Mail" placeholder="mail...">
            <label for="msg">Besked</label>
            <textarea id="Msg" cols="30" rows="10" placeholder="Skriv besked her..." ></textarea>
            <button (click)="POST()">Send</button>

            <!-- <button class="btn" (click)="PUT()">UPDATE</button> -->
        </form>

     </div>

    <!-- <div id="Right">
        <img src="assets/Image/tak.jpg" alt="Tak for at kontakte os!">

    </div> -->

