<div class="Movie">
        <img src="assets/Image/infinitywar.png" alt="" width="150px" height="150px">
    <div class="wrap-knap">
        <button class="Trailer">Trailer</button>
        <button routerLink="/billet" id="Billet">Billet</button>
    </div>
</div>

<div class="Movie">
    <img src="assets/Image/evildead.png" alt="" width="150px" height="150px">
    <div class="wrap-knap">
        <button class="Trailer">Trailer</button>
        <button routerLink="/billet" id="Billet">Billet</button>
    </div>
</div>

<div class="Movie">
    <img src="assets/Image/startrek.png" alt="" width="150px" height="150px">
    <div class="wrap-knap">
        <button class="Trailer">Trailer</button>
        <button routerLink="/billet" id="Billet">Billet</button>
    </div>
</div>

<div class="Movie">
    <img src="assets/Image/thorr.png" alt="" width="150px" height="150px">
    <div class="wrap-knap">
        <button class="Trailer">Trailer</button>
        <button routerLink="/billet" id="Billet">Billet</button>
    </div>
</div>

<div class="Movie">
    <img src="assets/Image/infinitywar.png" alt="" width="150px" height="150px">
    <div class="wrap-knap">
        <button class="Trailer">Trailer</button>
        <button routerLink="/billet" id="Billet">Billet</button>
    </div>
</div>

<div class="Movie">
    <img src="assets/Image/evildead.png" alt="" width="150px" height="150px">
    <div class="wrap-knap">
        <button class="Trailer">Trailer</button>
        <button routerLink="/billet" id="Billet">Billet</button>
    </div>
</div>

<div class="Movie">
    <img src="assets/Image/evildead.png" alt="" width="150px" height="150px">
    <div class="wrap-knap">
        <button class="Trailer">Trailer</button>
        <button routerLink="/billet" id="Billet">Billet</button>
    </div>
</div>

<div class="Movie">
    <img src="assets/Image/startrek.png" alt="" width="150px" height="150px">
    <div class="wrap-knap">
        <button class="Trailer">Trailer</button>
        <button routerLink="/billet" id="Billet">Billet</button>
    </div>
</div>

<div class="Movie">
    <img src="assets/Image/thorr.png" alt="" width="150px" height="150px">
    <div class="wrap-knap">
        <button class="Trailer">Trailer</button>
        <button routerLink="/billet" id="Billet">Billet</button>
    </div>
</div>

<div class="Movie">
    <img src="assets/Image/infinitywar.png" alt="" width="150px" height="150px">
    <div class="wrap-knap">
        <button class="Trailer">Trailer</button>
        <button routerLink="/billet" id="Billet">Billet</button>
    </div>
</div>

<div class="Movie">
    <img src="assets/Image/evildead.png" alt="" width="150px" height="150px">
    <div class="wrap-knap">
        <button class="Trailer">Trailer</button>
        <button routerLink="/billet" id="Billet">Billet</button>
    </div>
</div>

<div class="Space"></div>


