*{
    color:white;
    font-size: large;
}
img{
    border: 5px solid rgb(40, 53, 52);
    border-radius: 5px;
    
    width: 700px;
    object-fit: cover;
}
.wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    left:10%;
}
.wrapper{
    display: flex;
    flex-direction: row;

    margin: 20vh 10vw;
}

.tekst-wrap{
    margin-bottom: 15%;
    /* text-align: center; */
}
#titel{
    margin-bottom: 5%;
}
span{
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
    text-shadow: 3px 3px 2px black; 
    font-size: x-large;
    
    margin-left: 20%;

}

.tid-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    width: 500px;
}
.time{
    background-color: rgb(36, 133, 36);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: xx-large;
    
    border: 2px solid rgb(3, 65, 3);
    border-radius: 10%;

    padding: 1%;

    cursor: pointer;
}
.time:hover{
    border-color: rgb(13, 13, 17);
}

button{
    color: black;
    cursor: pointer;
}


