
<div class="wrapper">
    <img src="assets/Image/evildead.png" alt="">

    <div class="wrap">
        
        <div class="tekst-wrap">
            <div id="titel" >TITLE: <span>{{title}}</span>
            </div>
            <div id="spilletid">PLAYTIME: <span>{{spilletid}}</span>
            </div>
        </div>
        
        <div class="tid-wrap">
            <div class="time">08:00</div>
            <div class="time">09:00</div>
            <div class="time">10:00</div>
        </div>
        
        <button routerLink="/ticket">vælg billet side(dev)</button>
    </div>
    
</div>
