<div id="wrapper">

    <a routerLink="/home"><img src="assets/Image/HouseIcon.png" id="house" alt="Home Button" width="50px" height="50px"></a>
    <div id="title">
        <img src="assets/Image/logo.png" width="75px" height="50px">
        <h1 id="TopTitle">Bio</h1>
        <h1>Graf</h1>
    </div>
    <div id="right-wrapper">
        <button routerLink="/movies" id="movies-button" class="nav-button">Film</button>
        <button routerLink="/candystore" class="nav-button">Slikbutik</button>
        <button routerLink="/contact" class="nav-button">Kontakt</button>
        <button routerLink="/login" id="Login-button" class="nav-button"> Login </button>
        <button routerLink="/add-edit" id="add-edit-button" class="nav-button"> add/delete/show </button>

    </div>
</div>