<div id="container">
    <form action="">
        <label class="label" for="Email"><b>Email:</b></label>
        <input id="Email" type="text" placeholder="Email" name="Email" required>
        <label class="label" for="Pass"><b>Adgangskode:</b></label>
        <input id="Password" type="password" placeholder="Adgangskode" name="Adgangskode" required>
        <label class="label" for="Navn"><b>Navn:</b></label>
        <input id="Firstname" type="text" placeholder="Navn" name="Navn" required>
        <label class="label" for="Efternavn"> <b>Efternavn:</b></label>
        <input id="Lastname" type="text" placeholder="Efternavn" name="Efternavn" required>
        <label class="label" for="Adress"><b>Adresse:</b></label>
        <input id="Address" type="text" placeholder="Adress" name="Adress" required>
        <label class="label" for="Zip"><b>Zip:</b></label>
        <input id="Zipcode" type="text" placeholder="Zip" name="Zip" required>
        <button class="btn" type="submit" (click)="POST()"> OPRET</button>
    </form>
</div>
