
<div id="mainBoks">

    <div class="slikboks">
        <img src="assets/Image/haribomatador.png" width="210px" height="210px" alt="Slikpose">
        <div class="wrap-tekst">
            <p> Slikpose: 420 kr.- </p>
            <p>Str: L</p>
        </div>
        <button class="buy">Læg i kurv</button>
    </div>
    <div class="slikboks">
        <img src="assets/Image/haribomatador.png" width="210px" height="210px" alt="Slikpose">
        <div class="wrap-tekst">
            <p>Slikpose: 420kr.</p>
            <p>Str: L</p>
        </div>
        <button class="buy">Læg i kurv</button>
    </div>
    <div class="slikboks">
        <img src="assets/Image/haribomatador.png" width="210px" height="210px" alt="Slikpose">
        <div class="wrap-tekst">
            <p>Slikpose: 420kr.</p>
            <p>Str: L</p>
        </div>
        <button class="buy">Læg i kurv</button>
    </div>
    <div class="slikboks">
        <img src="assets/Image/haribomatador.png" width="210px" height="210px" alt="Slikpose">
        <div class="wrap-tekst">
            <p>Slikpose: 420kr.</p>
            <p>Str: L</p>
        </div>
        <button class="buy">Læg i kurv</button>
    </div>
    <div class="slikboks">
        <img src="assets/Image/haribomatador.png" width="210px" height="210px" alt="Slikpose">
        <div class="wrap-tekst">
            <p>Slikpose: 420kr.</p>
            <p>Str: L</p>
        </div>
        <button class="buy">Læg i kurv</button>
    </div>
    <div class="slikboks">
        <img src="assets/Image/haribomatador.png" width="210px" height="210px" alt="Slikpose">
        <div class="wrap-tekst">
            <p>Slikpose: 420kr.</p>
            <p>Str: L</p>
        </div>
        <button class="buy">Læg i kurv</button>
    </div>
    <div class="slikboks">
        <img src="assets/Image/haribomatador.png" width="210px" height="210px" alt="Slikpose">
        <div class="wrap-tekst">
            <p>Slikpose: 420kr.</p>
            <p>Str: L</p>
        </div>
        <button class="buy">Læg i kurv</button>
    </div>
    <div class="slikboks">
        <img src="assets/Image/haribomatador.png" width="210px" height="210px" alt="Slikpose">
        <div class="wrap-tekst">
            <p>Slikpose: 420kr.</p>
            <p>Str: L</p>
        </div>
        <button class="buy">Læg i kurv</button>
    </div>
    <div class="slikboks">
        <img src="assets/Image/haribomatador.png" width="210px" height="210px" alt="Slikpose">
        <div class="wrap-tekst">
            <p>Slikpose: 420kr.</p>
            <p>Str: L</p>
        </div>
        <button class="buy">Læg i kurv</button>
    </div>
    <div class="slikboks">
        <img src="assets/Image/haribomatador.png" width="210px" height="210px" alt="Slikpose">
        <div class="wrap-tekst">
            <p>Slikpose: 420kr.</p>
            <p>Str: L</p>
        </div>
        <button class="buy">Læg i kurv</button>
    </div>
    <div class="slikboks">
        <img src="assets/Image/haribomatador.png" width="210px" height="210px" alt="Slikpose">
        <div class="wrap-tekst">
            <p>Slikpose: 420kr.</p>
            <p>Str: L</p>
        </div>
        <button class="buy">Læg i kurv</button>
    </div>
    <div class="slikboks">
        <img src="assets/Image/haribomatador.png" width="210px" height="210px" alt="Slikpose">
        <div class="wrap-tekst">
            <p>Slikpose: 420kr.</p>
            <p>Str: L</p>
        </div>
        <button class="buy">Læg i kurv</button>
    </div>
    <div class="slikboks">
        <img src="assets/Image/haribomatador.png" width="210px" height="210px" alt="Slikpose">
        <div class="wrap-tekst">
            <p>Slikpose: 420kr.</p>
            <p>Str: L</p>
        </div>
        <button class="buy">Læg i kurv</button>
    </div>
    <div class="slikboks">
        <img src="assets/Image/haribomatador.png" width="210px" height="210px" alt="Slikpose">
        <div class="wrap-tekst">
            <p>Slikpose: 420kr.</p>
            <p>Str: L</p>
        </div>
        <button class="buy">Læg i kurv</button>
    </div>
    <div class="slikboks">
        <img src="assets/Image/haribomatador.png" width="210px" height="210px" alt="Slikpose">
        <div class="wrap-tekst">
            <p>Slikpose: 420kr.</p>
            <p>Str: L</p>
        </div>
        <button class="buy">Læg i kurv</button>
    </div>
    <div class="slikboks">
        <img src="assets/Image/haribomatador.png" width="210px" height="210px" alt="Slikpose">
        <div class="wrap-tekst">
            <p>Slikpose: 420kr.</p>
            <p>Str: L</p>
        </div>
        <button class="buy">Læg i kurv</button>
    </div>

</div>
<div class="space"></div>


<!-- <div class="slikboks">
    <img src="assets/Image/haribomatador.png" width="210px" height="210px" alt="Slikpose">
    <p>Slikpose: 420kr.</p>
    <p>Str: L</p>
    <button class="buy">Læg i kurv</button>
</div>
<div class="slikboks">
    <img src="assets/Image/haribomatador.png" width="210px" height="210px" alt="Slikpose">
    <p>Slikpose: 420kr.</p>
    <p>Str: L</p>
    <button class="buy">Læg i kurv</button>
</div>
<div class="slikboks">
    <img src="assets/Image/haribomatador.png" width="210px" height="210px" alt="Slikpose">
    <p>Slikpose: 420kr.</p>
    <p>Str: L</p>
    <button class="buy">Læg i kurv</button>
</div>
<div class="slikboks">
    <img src="assets/Image/haribomatador.png" width="210px" height="210px" alt="Slikpose">
    <p>Slikpose: 420kr.</p>
    <p>Str: L</p>
    <button class="buy">Læg i kurv</button>
</div>
<div class="slikboks">
    <img src="assets/Image/haribomatador.png" width="210px" height="210px" alt="Slikpose">
    <p>Slikpose: 420kr.</p>
    <p>Str: L</p>
    <button class="buy">Læg i kurv</button>
</div>
<div class="slikboks">
    <img src="assets/Image/haribomatador.png" width="210px" height="210px" alt="Slikpose">
    <p>Slikpose: 420kr.</p>
    <p>Str: L</p>
    <button class="buy">Læg i kurv</button>
</div>
<div class="slikboks">
    <img src="assets/Image/haribomatador.png" width="210px" height="210px" alt="Slikpose">
    <p>Slikpose: 420kr.</p>
    <p>Str: L</p>
    <button class="buy">Læg i kurv</button>
</div>
<div class="slikboks">
    <img src="assets/Image/haribomatador.png" width="210px" height="210px" alt="Slikpose">
    <p>Slikpose: 420kr.</p>
    <p>Str: L</p>
    <button class="buy">Læg i kurv</button>
</div>
<div class="slikboks">
    <img src="assets/Image/haribomatador.png" width="210px" height="210px" alt="Slikpose">
    <p>Slikpose: 420kr.</p>
    <p>Str: L</p>
    <button class="buy">Læg i kurv</button>
</div>
<div class="slikboks">
    <img src="assets/Image/haribomatador.png" width="210px" height="210px" alt="Slikpose">
    <p>Slikpose: 420kr.</p>
    <p>Str: L</p>
    <button class="buy">Læg i kurv</button>
</div>
<div class="slikboks">
    <img src="assets/Image/haribomatador.png" width="210px" height="210px" alt="Slikpose">
    <p>Slikpose: 420kr.</p>
    <p>Str: L</p>
    <button class="buy">Læg i kurv</button>
</div>
<div class="slikboks">
    <img src="assets/Image/haribomatador.png" width="210px" height="210px" alt="Slikpose">
    <p>Slikpose: 420kr.</p>
    <p>Str: L</p>
    <button class="buy">Læg i kurv</button>
</div>
<div class="slikboks">
    <img src="assets/Image/haribomatador.png" width="210px" height="210px" alt="Slikpose">
    <p>Slikpose: 420kr.</p>
    <p>Str: L</p>
    <button class="buy">Læg i kurv</button>
</div>
<div class="slikboks">
    <img src="assets/Image/haribomatador.png" width="210px" height="210px" alt="Slikpose">
    <p>Slikpose: 420kr.</p>
    <p>Str: L</p>
    <button class="buy">Læg i kurv</button>
</div>
<div class="slikboks">
    <img src="assets/Image/haribomatador.png" width="210px" height="210px" alt="Slikpose">
    <p>Slikpose: 420kr.</p>
    <p>Str: L</p>
    <button class="buy">Læg i kurv</button>
</div> -->
