

    <div class="cinemaoverview">
      
        <div class ="hall>"> <h1>Bio 1 </h1> <img class="hall" src="assets/Image/klodshans.png" width="210px" height="210px"> <p>Afspilles nu: Klodshans </p><p>Ratings: ***** </p><p>Varighed: 8 Timer </p></div>  
        <div class ="hall>"> <h1>Bio 2 </h1> <img class="hall" src="assets/Image/dovahkiin.png" width="210px" height="210px"> <p>Afspilles nu: Dovahkiin </p><p>Ratings: **** </p><p>Varighed: 23 Timer </p></div>  
        <div class ="hall>"> <h1>Bio 3 </h1> <img class="hall" src="assets/Image/thorr.png" width="210px" height="210px"> <p>Afspilles nu: Thorr </p><p>Ratings: ** </p><p>Varighed: 1 Time</p></div> 
    </div>
