* {
  color: white;
}
p {
    color:white;
}

input {
  color:black;
}

div button {
  color:black;
}

:host{
  background-color:white;

}
#mainBoks{
  background-image: url("https://eskipaper.com/images/black-backgrounds-5.jpg");
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  font-family: 'Arvo', serif;
  padding-left: 1.5%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
.slikboks{
  color: white;
  background-color: black;
  border: 2px solid #C60012;
  border-radius: 3%;
  box-shadow: 0 0 30px 10px black;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 300px;
  margin: 15px;
  padding: 10px;
  transition: width 1s;

}

.slikboks:hover{
  border: 2px solid rgb(236, 236, 23);
  width: 350px;
}



.slikboks button{
  padding: 3px;
  background-color: black;
  border: 2px solid #C60012;
  border-radius: 3%;
  color: white;
  font-family: 'Arvo', serif;
  width: 50%;
}
.slikboks img, .slikboks p, .slikboks button{
  margin: 3px;
}

.wrap-tekst{
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  margin: 5%;
  padding-left: 25%;
}
button:hover{
  opacity: 0.8;
}
/* Så bunden ligner op. */
.space{
  margin: 18px;
}








/* FILM */


.Movie{
  background-color: rgb(12, 11, 11);
  border-radius: 4px;
  box-shadow: 0 0 30px 10px black;
  border: 1px solid black;

  display: flex;
  flex-direction: column;

  margin: 20px;
  padding: 2px;

  width: 300px;
  height: 300px;
  transition: width 1s,height 0.5s;
}

.Movie:hover{
  width: 400px;
  height: 400px;
}

.Space{
  margin-bottom: 500px;
  padding: 10px;

}

img{
  border-radius: 2px;
  width: 100%;
  height: 85%;
  object-fit: cover;
}



.wrap-knap{
  display: flex;
  justify-content: space-between;

  margin-top: 2%;
}
.wrap-knap button{
  color: white;
  background-color: #191b1c;
  border-color: #C60012;
  font-family: 'Arvo', serif;
  border-radius: 2px;

  width: 49.5%;
  height: 185%;

  cursor: pointer;
}


button:hover{
  opacity: 0.8;
}
